.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    width: 60%;

    h2 {
        font-size: 3.5rem;
    }
    p {
        width: 70%;
        margin-top: 2rem;
        font-size: 2rem;
        text-align: center;
        font-weight: 300;
    }
}

.component-intro-container {
    display: flex;
    margin-top: 5rem;

    div {
        margin: 1rem;
        flex-basis: 25%;
        height: auto;
        padding: 1rem;

        h2 {
            font-size: 3rem;
        }
        h4 {
            font-size: 2rem;
            font-weight: 400;
        }
        p {
            font-size: 1.5rem;
            text-align: center;
            font-weight: 300;
        }
    }
}

.our-devoted-team-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 3rem;
        text-align: center;
    }
    div {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
        // grid-template-rows: repeat(1fr, 2);
        gap: 7rem;

        position: relative;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                position: absolute;
                top: 0rem;
                left: 0rem;
                border: 0.5rem solid black;
                border-radius: 50%;
                padding: 1rem;
                font-size: 2rem;
                font-weight: bold;
            }

            h3 {
                font-size: 3rem;
                font-weight: 400;
            }
            p {
                font-size: 2rem;
                text-align: center;
                font-weight: 300;
                width: 60%;
            }
        }
    }

    div:nth-child(1) {
    }
}
