@use "../../../../colors.scss";

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: colors.$team-bright-blue;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

        .component-head-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 0rem;
            width: 60%;

            h2 {
                font-size: 3.5rem;
            }
            p {
                width: 70%;
                margin-top: 2rem;
                font-size: 2rem;
                text-align: center;
                font-weight: 300;
            }
        }

        .component-intro-container {
            display: flex;
            flex-direction: row;

            div {
                margin: 1rem;
                flex-basis: 25%;
                height: 40rem;
                width: 40rem;
                padding: 1rem;
                border: colors.$team-bright-blue solid 0.5rem;
                border-radius: 50%;
                padding: 1rem;

                h2 {
                    font-size: 5rem;
                    margin-bottom: 0.5rem;
                }
                h4 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    margin-bottom: 0.7rem;
                }
                p {
                    font-size: 1.9rem;
                    text-align: center;
                    font-weight: 300;
                }
            }
        }
    }

    .our-devoted-team-h2-container {
        margin: -25rem auto;
        h2 {
            font-size: 4rem;
            text-align: center;
        }
    }

    .arrows-container {
        height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .arrow {
            font-size: 15rem;
            color: colors.$team-bright-blue;
        }
    }

    .our-devoted-team-container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
            // grid-template-rows: repeat(1fr, 2);
            gap: 1rem;
            // position: relative;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    height: 45rem;
                    width: 45rem;
                    margin: 00.5rem;
                    object-fit: contain;
                }
                span {
                    // position: absolute;
                    // top: 0rem;
                    // left: 10rem;
                    border: 0.1rem solid colors.$team-bright-blue;
                    color: colors.$team-bright-blue;
                    border-radius: 50%;
                    padding: 1rem;
                    font-size: 2rem;
                    font-weight: bold;
                }

                h3 {
                    margin-top: 0.7rem;
                    font-size: 3rem;
                    font-weight: 400;
                }
                p {
                    font-size: 2rem;
                    text-align: center;
                    font-weight: 300;
                    width: 60%;
                }
            }
        }
    }
}
