.gallery-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    div {
        h2 {
            font-size: 5rem;
            margin: 3rem auto;
            font-weight: normal;
        }
        p {
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 100;
            line-height: 3rem;
            word-spacing: 0.7rem;
        }
    }
}

.img {
    width: 50rem;
    height: 50rem;
    object-fit: contain;
}

.splide-container {
    padding: 5rem;
}
