@use "colors";

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: colors.$background;
    color: colors.$red-pink-brighter;

    main {
        width: 80vw;
        height: auto;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}
